/**
 * Iterates over positive and negative iterators.
 *
 * @since 1.0.0
 *
 * @prop {Mixin} block - Anonymous mixin block.
 * @prop {Boolean} negative - Iterate over negative iterators?
 */
iterate(block, negative = true)
    iterator(iterators.positive, @(i) {
        block(i)
    })

    if negative
        iterator(iterators.negative, @(i) {
            block(i)
        })
