/**
 * Iterates over positive and negative steps.
 *
 * @since 1.0.0
 *
 * @prop {Mixin} block - Anonymous mixin block.
 * @prop {Boolean} negative - Iterate over negative steps?
 */
steps(block, negative = true)
    iterator(treads.positive, @(step) {
        block(step)
    })

    if negative
        iterator(treads.negative, @(step) {
            block(step)
        })
