/**
 * Generates property name by joining passed strings with '-'.
 *
 * @since 1.0.0
 *
 * @param {List} strings - List of strings to join.
 * @return {String} - Joined strings.
 */
property(strings)
    return join('-', strings)