/**
 * Generates selector name by joining passed strings.
 *
 * @since 1.0.0
 *
 * @param {List} strings - List of strings to join.
 * @return {String} - Joined strings.
 */
selector(strings)
    return glue(strings)